handlebars:
  suffix: .html
  enabled: true

spring:
  datasource:
    url: jdbc:h2:~/test;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  h2:
    console:
      enabled: true